<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Crypto Price Tracker App</title>
</head>
<body>
    <div class="app-container" id="page">
        <strong><h1 class="title-container"><center>Spot Index Price of Crypto Assets</center></h1></strong>
            <a id="priceTrackerLink" role="link" class="btn-container" href="#">Crypto Asset Spot Index Price Tracker</a>
        <div id="pricetrackerDiv" style="display: none;">
            <div class="pricetracker">
                <div class="data-container">
                    <form action="/" method="POST">
                        <div class="fancyForm">
                            <label for="symbol">Enter spot pair symbol: Option contract underlying asset, e.g BTCUSDT) </label>
                            <input type="text" id="symbol" name="symbol" placeholder="Enter symbol" aria-label="Enter Symbol">
                        </div>
                        <h1></h1>
                        <button type="submit" id="cryptopricetracker_api">Enter</button>
                    </form>
                </div>
            </div>
        </div>

        <script>
            document.getElementById("priceTrackerLink").onclick = function() {
                document.getElementById("pricetrackerDiv").style.display = "block";
                document.getElementById("priceTrackerLink").style.display = "none";
            };
        </script>
    </div>

    <footer class="bottomFooter">
        <span class="text-muted">Thomas Louis 2024 - <a href="https://github.com/tomlui2010/crypto-price-tracker">Code</a></span>
    </footer>
</body>
</html>
